:root {
	--color: hsl(0 0% 10%);
	color-scheme: light dark;
}

*, ::before, ::after {
	box-sizing: border-box;
}

html {
	font-family: system-ui;
	line-height: 1.5;
}

body {
	/*
	TODO Collapsible margins are important for content writing. Once margin-trim has browser support:
	  - Re-implement with CSS grid (https://www.joshwcomeau.com/css/full-bleed/).
	  - Restrict width using ch unit.
	*/
	max-inline-size: min(40rem + 1.4rem * 2, 100%);
	margin-inline: auto;
	margin-block: clamp(2.4rem, 8vi, 3.6rem);
}

body > :not(main) > *, main > :not(img, table) {
	padding-inline: 1.4rem;
	margin-inline: auto;
	inline-size: min(36rem, 100%);
}

header > nav {
	& > ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		list-style-type: none;
		padding-inline: 0;

		& > li:first-child:has(> a[href="/index.xml"]) {
			margin-inline-end: auto;
		}
	}

	a {
		&:any-link {
			color: LinkText;
		}

		&[aria-current="page"] {
			color: inherit;
			text-decoration: inherit;
		}
	}
}

img::before {
	padding-inline: 1.4rem;
}

img {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	block-size: auto;
	max-inline-size: 100%;
	margin-block: 2.8rem;
	font-style: italic;
	background: hsl(from var(--color) h s l / 0.05);
}

footer {
	margin-block: 2.8rem;
	text-align: center;
	font-size: .7rem;
}

address {
	font-style: normal;
}

.underline {
	text-decoration: underline;
}

kbd {
	display: inline-block;
	padding: .05rem .25rem;
	color: light-dark(#1f2328, #e6edf3);
	vertical-align: middle;
	background-color: light-dark(#f6f8f1, #161b22);
	border: solid 1px light-dark(#afb8c133, #6e768166);
	border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: hsl(0 100% 99%);
	}
}
